monitor/nodered/data/.flows.json.backup
[
    {
        "id": "99285b04ab31eeb3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb950f3a0b286899",
        "type": "group",
        "z": "99285b04ab31eeb3",
        "name": "Analyzer data",
        "style": {
            "label": true
        },
        "nodes": [
            "b451db19bfc01ed5",
            "820d0254027143de",
            "1b810b41ede51439",
            "3e300eaffa57511d",
            "cc579c99656587a2",
            "aab0a8695c7fe9d0",
            "4d88e44a6c4385ba",
            "41196dbe13b86f19",
            "4eddf091a0f1456a",
            "f7e85569ce21407a",
            "d851253f6d300a27",
            "a59bdda345f82565",
            "28d601ee22eb13f1",
            "d8a11832b26a4ae8",
            "6ec0ec73dd7e47ac",
            "6a1fbbcceb5bb765",
            "bdde9fdc9c7814a0",
            "d08ef2268e982688",
            "c9a71f1c79ee850e",
            "bdeb025c06e44332",
            "27fa2ccb71482fa2",
            "d42e1a5fcbc5259b",
            "554be1a8bce11545",
            "dcb66fe337292b34",
            "b6b8fe3787b34f56"
        ],
        "x": 734,
        "y": 79,
        "w": 932,
        "h": 662
    },
    {
        "id": "c46509ea1b2d8f12",
        "type": "group",
        "z": "99285b04ab31eeb3",
        "name": "Sensors",
        "style": {
            "label": true
        },
        "nodes": [
            "4ec86d32c18d72a7",
            "eaf74ef210b83cc2",
            "5b46401d22c6d9b1",
            "835de6ae498d4423",
            "c909674f140f236c",
            "1b8eef526443c2ce",
            "4d985ed722db58ae",
            "75f6ddb81a3ff120",
            "303d99ce1ce38904",
            "305f32c141b5aa2c",
            "3b035bcd0357046a",
            "45b88026b7b7ec79",
            "b724841ba4d5d5c6",
            "a4436ca70d42ed78",
            "54c702c1e475a2ba",
            "1a194a38b4f38873",
            "ac516eacc063dd16",
            "843f1870068bea7a",
            "0ffca6d7cc17dcee",
            "9df29bcec682b86d"
        ],
        "x": 154,
        "y": 19,
        "w": 532,
        "h": 722
    },
    {
        "id": "a928ba0.2d1f748",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.30.0.101",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0648859e6711c8f9",
        "type": "ui_tab",
        "name": "MQTT and COAP Sensors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ae2aceeadfb4b296",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cd6116aa8b23d0c6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6043b1181f466e6d",
        "type": "ui_tab",
        "name": "SMART HOME MONITORING",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6ddbd751be509e35",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.30.0.103:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "575f0b6b213a240c",
        "type": "ui_group",
        "name": "",
        "tab": "6043b1181f466e6d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "55277096f27f8c4f",
        "type": "ui_group",
        "name": "",
        "tab": "6043b1181f466e6d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ec86d32c18d72a7",
        "type": "mqtt in",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/SmartHomeD&G/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a928ba0.2d1f748",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "eaf74ef210b83cc2",
                "3b035bcd0357046a",
                "1a194a38b4f38873"
            ]
        ]
    },
    {
        "id": "eaf74ef210b83cc2",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 455,
        "y": 60,
        "wires": [],
        "l": false
    },
    {
        "id": "5b46401d22c6d9b1",
        "type": "mqtt in",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/SmartHomeD&G/Light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a928ba0.2d1f748",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "4d985ed722db58ae",
                "45b88026b7b7ec79",
                "ac516eacc063dd16"
            ]
        ]
    },
    {
        "id": "835de6ae498d4423",
        "type": "mqtt in",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/SmartHomeD&G/Energy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a928ba0.2d1f748",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "75f6ddb81a3ff120",
                "b724841ba4d5d5c6",
                "843f1870068bea7a"
            ]
        ]
    },
    {
        "id": "c909674f140f236c",
        "type": "mqtt in",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/SmartHomeD&G/FridgeTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a928ba0.2d1f748",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "303d99ce1ce38904",
                "a4436ca70d42ed78",
                "0ffca6d7cc17dcee"
            ]
        ]
    },
    {
        "id": "1b8eef526443c2ce",
        "type": "mqtt in",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/SmartHomeD&G/FridgeLoad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a928ba0.2d1f748",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 660,
        "wires": [
            [
                "305f32c141b5aa2c",
                "54c702c1e475a2ba",
                "9df29bcec682b86d"
            ]
        ]
    },
    {
        "id": "4d985ed722db58ae",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 455,
        "y": 200,
        "wires": [],
        "l": false
    },
    {
        "id": "75f6ddb81a3ff120",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 455,
        "y": 340,
        "wires": [],
        "l": false
    },
    {
        "id": "303d99ce1ce38904",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 455,
        "y": 480,
        "wires": [],
        "l": false
    },
    {
        "id": "305f32c141b5aa2c",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 455,
        "y": 620,
        "wires": [],
        "l": false
    },
    {
        "id": "3b035bcd0357046a",
        "type": "ui_gauge",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "group": "575f0b6b213a240c",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURE",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "45b88026b7b7ec79",
        "type": "ui_gauge",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "group": "575f0b6b213a240c",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "LIGHT",
        "label": "LUX",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "b724841ba4d5d5c6",
        "type": "ui_gauge",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "group": "55277096f27f8c4f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ENERGY",
        "label": "kWh",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4436ca70d42ed78",
        "type": "ui_gauge",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "group": "575f0b6b213a240c",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FRIDGE_TEMP",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 520,
        "wires": []
    },
    {
        "id": "54c702c1e475a2ba",
        "type": "ui_gauge",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "group": "55277096f27f8c4f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FRIDGE_LOAD",
        "label": "Units",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#2cec13"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "12ecebe8cef6c1d6",
        "type": "inject",
        "z": "99285b04ab31eeb3",
        "name": "Test email data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"_value\": 4500}, {\"_value\": 4600}]",
        "payloadType": "json",
        "x": 160,
        "y": 1340,
        "wires": [
            [
                "7cf77d0392859c23",
                "b35c7d8a1d3470c2"
            ]
        ]
    },
    {
        "id": "7cf77d0392859c23",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "name": "",
        "topic": "data/test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 340,
        "y": 1380,
        "wires": []
    },
    {
        "id": "1a194a38b4f38873",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/smart/float/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "ac516eacc063dd16",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/smart/int/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "843f1870068bea7a",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/smart/float/energy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "0ffca6d7cc17dcee",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/smart/float/fridge_temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "9df29bcec682b86d",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "c46509ea1b2d8f12",
        "name": "",
        "topic": "/smart/int/fridge_load",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "87fdd9a04115344d",
        "type": "influxdb in",
        "z": "99285b04ab31eeb3",
        "influxdb": "6ddbd751be509e35",
        "name": "Last hour energy consumption",
        "query": "from(bucket: \"Iot-project\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"mqtt_consumer\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"host\"] == \"iot-app-container\")\n  |> filter(fn: (r) => r[\"topic\"] == \"/energy\")\n  |> aggregateWindow(every: 1m, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Iot-23-24",
        "x": 190,
        "y": 1200,
        "wires": [
            [
                "6ec8c9bf04165dde",
                "b35c7d8a1d3470c2"
            ]
        ]
    },
    {
        "id": "6ec8c9bf04165dde",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 395,
        "y": 1180,
        "wires": [],
        "l": false
    },
    {
        "id": "b8fd3d525c576a1e",
        "type": "inject",
        "z": "99285b04ab31eeb3",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "87fdd9a04115344d"
            ]
        ]
    },
    {
        "id": "b35c7d8a1d3470c2",
        "type": "function",
        "z": "99285b04ab31eeb3",
        "name": "convert to ints",
        "func": "let min = Math.round(msg.payload[0]._value);\nlet max = Math.round(msg.payload[1]._value);\nlet diff = max - min;\nlet payload = {\"min\": min, \"diff\": diff};\nlet msg2 = {\"payload\": payload};\nmsg = msg2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1240,
        "wires": [
            [
                "8ac1a2f68bd47fcc",
                "f7e5fb872702f20b"
            ]
        ]
    },
    {
        "id": "8ac1a2f68bd47fcc",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "name": "debug 33",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 735,
        "y": 1200,
        "wires": [],
        "l": false
    },
    {
        "id": "953790de6e536d24",
        "type": "function",
        "z": "99285b04ab31eeb3",
        "name": "Format payload",
        "func": "let topic = \"Hourly energy report from Node-RED\";\nlet body = msg.payload;\nmsg.topic = topic;\nmsg.payload = body;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1340,
        "wires": [
            [
                "3829096d8cc5e9e4",
                "fee896c385f0e5d5"
            ]
        ]
    },
    {
        "id": "f7e5fb872702f20b",
        "type": "template",
        "z": "99285b04ab31eeb3",
        "name": "Email template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hello!\nThis is your hourly energy consumption report.\n\n<ul>\n    <li>Total energy consumed thus far: {{payload.min}} kWh</li>\n    <li>Energy consumed in the last hour: {{payload.diff}} kWh</li>\n</ul>",
        "output": "str",
        "x": 620,
        "y": 1280,
        "wires": [
            [
                "953790de6e536d24",
                "8ac1a2f68bd47fcc"
            ]
        ]
    },
    {
        "id": "3829096d8cc5e9e4",
        "type": "e-mail",
        "z": "99285b04ab31eeb3",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "dario.dercole@student.univaq.it",
        "dname": "",
        "x": 1030,
        "y": 1280,
        "wires": []
    },
    {
        "id": "fee896c385f0e5d5",
        "type": "e-mail",
        "z": "99285b04ab31eeb3",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "giovanni.spaziani@student.univaq.it",
        "dname": "",
        "x": 1050,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b451db19bfc01ed5",
        "type": "influxdb in",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "influxdb": "6ddbd751be509e35",
        "name": "last temperature",
        "query": "from(bucket: \"Se4as-project\")\n  |> range(start: -60s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"float_mqtt_consumer\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"host\"] == \"se4as-app-container\")\n  |> filter(fn: (r) => r[\"topic\"] == \"/smart/float/temperature\")\n  |> aggregateWindow(every: 60s, fn: last, createEmpty: false)\n  |> yield(name: \"last\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Se4as-24-25",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "1b810b41ede51439",
                "bdde9fdc9c7814a0"
            ]
        ]
    },
    {
        "id": "820d0254027143de",
        "type": "inject",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "b451db19bfc01ed5",
                "cc579c99656587a2",
                "41196dbe13b86f19",
                "d851253f6d300a27",
                "d8a11832b26a4ae8"
            ]
        ]
    },
    {
        "id": "1b810b41ede51439",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "influx debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1065,
        "y": 160,
        "wires": [],
        "l": false
    },
    {
        "id": "3e300eaffa57511d",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "",
        "topic": "/smart/analyzer/float/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 1500,
        "y": 120,
        "wires": []
    },
    {
        "id": "cc579c99656587a2",
        "type": "influxdb in",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "influxdb": "6ddbd751be509e35",
        "name": "last fridge temp",
        "query": "from(bucket: \"Se4as-project\")\n  |> range(start: -60s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"float_mqtt_consumer\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"host\"] == \"se4as-app-container\")\n  |> filter(fn: (r) => r[\"topic\"] == \"/smart/float/fridge_temp\")\n  |> aggregateWindow(every: 60s, fn: last, createEmpty: false)\n  |> yield(name: \"last\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Se4as-24-25",
        "x": 1000,
        "y": 220,
        "wires": [
            [
                "aab0a8695c7fe9d0",
                "d42e1a5fcbc5259b"
            ]
        ]
    },
    {
        "id": "aab0a8695c7fe9d0",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "influx debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1065,
        "y": 260,
        "wires": [],
        "l": false
    },
    {
        "id": "4d88e44a6c4385ba",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "",
        "topic": "/smart/analyzer/float/fridge_temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 1500,
        "y": 220,
        "wires": []
    },
    {
        "id": "41196dbe13b86f19",
        "type": "influxdb in",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "influxdb": "6ddbd751be509e35",
        "name": "last light",
        "query": "from(bucket: \"Se4as-project\")\n  |> range(start: -60s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"int_mqtt_consumer\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"host\"] == \"se4as-app-container\")\n  |> filter(fn: (r) => r[\"topic\"] == \"/smart/int/light\")\n  |> aggregateWindow(every: 60s, fn: last, createEmpty: false)\n  |> yield(name: \"last\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Se4as-24-25",
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "4eddf091a0f1456a",
                "554be1a8bce11545"
            ]
        ]
    },
    {
        "id": "4eddf091a0f1456a",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "influx debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1065,
        "y": 360,
        "wires": [],
        "l": false
    },
    {
        "id": "f7e85569ce21407a",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "",
        "topic": "/smart/analyzer/int/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 1470,
        "y": 320,
        "wires": []
    },
    {
        "id": "d851253f6d300a27",
        "type": "influxdb in",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "influxdb": "6ddbd751be509e35",
        "name": "last energy",
        "query": "from(bucket: \"Se4as-project\")\n  |> range(start: -60s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"float_mqtt_consumer\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"host\"] == \"se4as-app-container\")\n  |> filter(fn: (r) => r[\"topic\"] == \"/smart/float/energy\")\n  |> aggregateWindow(every: 60s, fn: last, createEmpty: false)\n  |> yield(name: \"last\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Se4as-24-25",
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "a59bdda345f82565",
                "dcb66fe337292b34"
            ]
        ]
    },
    {
        "id": "a59bdda345f82565",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "influx debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1065,
        "y": 460,
        "wires": [],
        "l": false
    },
    {
        "id": "28d601ee22eb13f1",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "",
        "topic": "/smart/analyzer/float/energy/total",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 1490,
        "y": 420,
        "wires": []
    },
    {
        "id": "d8a11832b26a4ae8",
        "type": "influxdb in",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "influxdb": "6ddbd751be509e35",
        "name": "last fridge load",
        "query": "from(bucket: \"Se4as-project\")\n  |> range(start: -60s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"int_mqtt_consumer\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"host\"] == \"se4as-app-container\")\n  |> filter(fn: (r) => r[\"topic\"] == \"/smart/int/fridge_load\")\n  |> aggregateWindow(every: 60s, fn: last, createEmpty: false)\n  |> yield(name: \"last\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Se4as-24-25",
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "6ec0ec73dd7e47ac",
                "b6b8fe3787b34f56"
            ]
        ]
    },
    {
        "id": "6ec0ec73dd7e47ac",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "influx debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1065,
        "y": 560,
        "wires": [],
        "l": false
    },
    {
        "id": "6a1fbbcceb5bb765",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "",
        "topic": "/smart/analyzer/int/fridge_load",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 1490,
        "y": 520,
        "wires": []
    },
    {
        "id": "d08ef2268e982688",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "",
        "topic": "/smart/analyzer/config/temperature_analyzer",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 1370,
        "y": 620,
        "wires": []
    },
    {
        "id": "c9a71f1c79ee850e",
        "type": "inject",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "temperature analyzer configuration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"configuration\":{\"min_temp\":18,\"working_threshold\":1}}",
        "payloadType": "json",
        "x": 980,
        "y": 620,
        "wires": [
            [
                "d08ef2268e982688"
            ]
        ]
    },
    {
        "id": "bdeb025c06e44332",
        "type": "mqtt out",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "",
        "topic": "/smart/analyzer/config/energy_analyzer",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a928ba0.2d1f748",
        "x": 1360,
        "y": 700,
        "wires": []
    },
    {
        "id": "27fa2ccb71482fa2",
        "type": "inject",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "energy analyzer configuration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"configuration\":{\"max_total_kw\":3,\"warning_threshold_kw\":2.5}}",
        "payloadType": "json",
        "x": 990,
        "y": 700,
        "wires": [
            [
                "bdeb025c06e44332"
            ]
        ]
    },
    {
        "id": "bdde9fdc9c7814a0",
        "type": "function",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "Tag json with metric name",
        "func": "const new_payload = {}\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    let topic = element['topic'];\n    let metric = topic.split('/');\n    metric = metric[metric.length - 1];\n    if(!Object.hasOwn(new_payload, metric)){\n        new_payload[metric] = [];\n    }\n    new_payload[metric].push(element);\n}\nmsg.payload = new_payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 120,
        "wires": [
            [
                "3e300eaffa57511d"
            ]
        ]
    },
    {
        "id": "86e74d5e5a8bfba4",
        "type": "influxdb in",
        "z": "99285b04ab31eeb3",
        "influxdb": "6ddbd751be509e35",
        "name": "last fridge load",
        "query": "from(bucket: \"Se4as-project\")\n  |> range(start: -60s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"float_mqtt_consumer\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"host\"] == \"se4as-app-container\")\n  |> filter(fn: (r) => r[\"topic\"] == \"/smart/float/temperature\" or r[\"topic\"] == \"/smart/float/fridge_temp\")\n  |> aggregateWindow(every: 60s, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Se4as-24-25",
        "x": 960,
        "y": 860,
        "wires": [
            [
                "a997d5706191b3ea"
            ]
        ]
    },
    {
        "id": "a997d5706191b3ea",
        "type": "debug",
        "z": "99285b04ab31eeb3",
        "name": "influx debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1105,
        "y": 860,
        "wires": [],
        "l": false
    },
    {
        "id": "e4395e0c4a6e4cfc",
        "type": "inject",
        "z": "99285b04ab31eeb3",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 770,
        "y": 860,
        "wires": [
            [
                "86e74d5e5a8bfba4"
            ]
        ]
    },
    {
        "id": "d42e1a5fcbc5259b",
        "type": "function",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "Tag json with metric name",
        "func": "const new_payload = {}\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    let topic = element['topic'];\n    let metric = topic.split('/');\n    metric = metric[metric.length - 1];\n    if(!Object.hasOwn(new_payload, metric)){\n        new_payload[metric] = [];\n    }\n    new_payload[metric].push(element);\n}\nmsg.payload = new_payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 220,
        "wires": [
            [
                "4d88e44a6c4385ba"
            ]
        ]
    },
    {
        "id": "554be1a8bce11545",
        "type": "function",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "Tag json with metric name",
        "func": "const new_payload = {}\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    let topic = element['topic'];\n    let metric = topic.split('/');\n    metric = metric[metric.length - 1];\n    if(!Object.hasOwn(new_payload, metric)){\n        new_payload[metric] = [];\n    }\n    new_payload[metric].push(element);\n}\nmsg.payload = new_payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 320,
        "wires": [
            [
                "f7e85569ce21407a"
            ]
        ]
    },
    {
        "id": "dcb66fe337292b34",
        "type": "function",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "Tag json with metric name",
        "func": "const new_payload = {}\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    let topic = element['topic'];\n    let metric = topic.split('/');\n    metric = metric[metric.length - 1];\n    if(!Object.hasOwn(new_payload, metric)){\n        new_payload[metric] = [];\n    }\n    new_payload[metric].push(element);\n}\nnode.warn(new_payload);\nmsg.payload = new_payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 420,
        "wires": [
            [
                "28d601ee22eb13f1"
            ]
        ]
    },
    {
        "id": "b6b8fe3787b34f56",
        "type": "function",
        "z": "99285b04ab31eeb3",
        "g": "fb950f3a0b286899",
        "name": "Tag json with metric name",
        "func": "const new_payload = {}\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    let topic = element['topic'];\n    let metric = topic.split('/');\n    metric = metric[metric.length - 1];\n    if(!Object.hasOwn(new_payload, metric)){\n        new_payload[metric] = [];\n    }\n    new_payload[metric].push(element);\n}\nmsg.payload = new_payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "6a1fbbcceb5bb765"
            ]
        ]
    }
]